In [1]:
# load the data from .json files
def load_json(filename):
    '''
    Load the give .json files to a data frame for STAT-628-Module-3
    '''
    res = [] # list of dicts
    with open(filename, 'r') as f:
        try:
            while True:
                line = f.readline()
                if line:
                    res.append(json.loads(line))
                    del line
                else:
                    break
        except:
            f.close()
    
    output = pd.DataFrame.from_dict(res) # list of dicts -> data frame
    del res

    return output

In [2]:
import os
import json
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import keras
import ast

Using TensorFlow backend.

In [3]:
# load business file into a data frame
business = load_json('data/business.json')
# business.head(2)

In [4]:
att = business['attributes']
att = att.dropna()
keys = set()
for a in att:
    for key,value in a.items():
        keys.add(key)
# keys

In [87]:
attributes = list(business['attributes'])
for i in range(len(attributes)):
    if attributes[i] == None:
        attributes[i] = {"NoInput": True}
att_df = pd.DataFrame.from_dict(attributes)
# att_df = business['attributes'].apply(pd.Series)
att_df.head(3)

,GoodForKids,RestaurantsReservations,GoodForMeal,BusinessParking,Caters,NoiseLevel,RestaurantsTableService,RestaurantsTakeOut,RestaurantsPriceRange2,OutdoorSeating,...,BYOBCorkage,DriveThru,Smoking,AgesAllowed,HairSpecializesIn,Corkage,BYOB,DietaryRestrictions,Open24Hours,RestaurantsCounterService
0,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,True,True,"{'dessert': False, 'latenight': False, 'lunch'...","{'garage': False, 'street': False, 'validated'...",True,u'loud',True,True,2,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,True,True,"{'dessert': False, 'latenight': False, 'lunch'...","{'garage': False, 'street': False, 'validated'...",False,u'average',True,True,2,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [88]:
att_df_final = att_df
att_df.shape

(192609, 40)

In [102]:
loc = [2,3,11,23,27,34,37]
names = list(att_df.columns)[loc[0]]

for i in range(len(loc)):
    names = list(att_df.columns)[loc[i]]
    temp = att_df[names]
    
    temp.replace(np.NaN, str("{'NoInput': True}"), inplace=True)
    
    for i in range(len(temp)):
        temp[i] = ast.literal_eval(str(temp[i]))
        
    temp_df = pd.DataFrame.from_dict(list(temp))
    
    att_df_final = pd.concat([temp_df, att_df_final], axis=1)
    att_df_final = att_df_final.drop(names)

0                                                       NaN
1         {'dessert': False, 'latenight': False, 'lunch'...
2         {'dessert': False, 'latenight': False, 'lunch'...
3                                                       NaN
4                                                       NaN
                                ...
192604                                                  NaN
192605                                                  NaN
192606                                                  NaN
192607                                                  NaN
192608                                                  NaN
Name: GoodForMeal, Length: 192609, dtype: object

In [71]:
# meal = att_df['GoodForMeal'][0:192609]
# meal.replace(np.NaN, str("{'NoInput': True}"), inplace=True)


# for i in range(len(meal)):
#     meal[i] = ast.literal_eval(str(meal[i]))

# meal_df = pd.DataFrame.from_dict(list(meal))

# att_df_final = pd.concat([meal_df, att_df], axis=1)

In [71]:
att_df_final.to_csv("data/att_data.csv")