In [2]:
import os
import copy
import json
import ast
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import keras
from wordcloud import WordCloud, STOPWORDS
import nltk
import math
import string
from nltk.corpus import stopwords
from collections import Counter
from nltk.stem.porter import *
from sklearn.feature_extraction.text import TfidfVectorizer

%matplotlib inline

Using TensorFlow backend.

In [3]:
# before use data
from google.colab import drive
drive.mount('/content/gdrive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/gdrive

In [4]:
# get the work directory
os.chdir('/content/gdrive/My Drive/stat628module 3')
# show the files in the wd
print('The work directory contains:')
!ls

The work directory contains:
EDA.ipynb	 final_data.csv  Mexican.ipynb
embedding.ipynb  mexican.csv	 tfidf.csv

In [21]:
mexican = pd.read_csv("mexican.csv")
mexican

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (35,36,38,39,40,42,45,47,48,50,51,52,53,54) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

        Unnamed: 0             business_id  ...  year month
0                0  1Dfx3zM-rW4n-31KeC8sJg  ...  2018     9
1                1  1Dfx3zM-rW4n-31KeC8sJg  ...  2012     3
2                2  1Dfx3zM-rW4n-31KeC8sJg  ...  2013     3
3                3  1Dfx3zM-rW4n-31KeC8sJg  ...  2017     8
4                4  1Dfx3zM-rW4n-31KeC8sJg  ...  2011     3
...            ...                     ...  ...   ...   ...
403936      403936  7KlpgRjjAmVabPzxcExs0g  ...  2010    10
403937      403937  7KlpgRjjAmVabPzxcExs0g  ...  2012     3
403938      403938  7KlpgRjjAmVabPzxcExs0g  ...  2013    11
403939      403939  7KlpgRjjAmVabPzxcExs0g  ...  2013    12
403940      403940  7KlpgRjjAmVabPzxcExs0g  ...  2010     8

[403941 rows x 65 columns]

In [0]:
rate = copy.deepcopy(mexican[["business_id","stars_y","text"]])
rate["pn"] = np.sign(rate.stars_y-2.9)
def ratepn(df,pn_value):
  ratepn = df["text"][rate["pn"]==pn_value]
  ratepn = "".join(str(ratepn))
  return ratepn
rate_n = ratepn(rate,-1)
rate_p = ratepn(rate,1)

In [0]:
def get_tokens(text):
    lowers = text.lower()
    #remove the punctuation using the character deletion step of translate
    remove_punctuation_map = dict((ord(char), None) for char in string.punctuation)
    no_punctuation = lowers.translate(remove_punctuation_map)
    tokens = nltk.word_tokenize(no_punctuation)
    return tokens

In [0]:
def stem_tokens(tokens, stemmer):
    stemmed = []
    for item in tokens:
        stemmed.append(stemmer.stem(item))
    return stemmed

In [0]:
def filter(text):
  tokens = get_tokens(text)
  filtered = [w for w in tokens if not w in stopwords.words('english')]
  stemmer = PorterStemmer()
  stemmed = stem_tokens(filtered, stemmer)
  return " ".join(stemmed)

In [26]:
nltk.download('punkt')
nltk.download('stopwords')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.
[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

True

In [0]:
business = mexican["business_id"].unique()
words_p = list()
words_n = list()
for business_id in business:
  business1 = rate.loc[mexican['business_id']==business_id]
  rate_n = ratepn(business1,-1)
  rate_p = ratepn(business1,1)
  vectorizer = TfidfVectorizer(min_df=1)
  corpus = [rate_p,rate_n]
  vectorizer.fit_transform(corpus)
  words = vectorizer.get_feature_names()
  score_p = vectorizer.fit_transform(corpus).toarray()[0]
  score_n = vectorizer.fit_transform(corpus).toarray()[1]
  df = {'words':words, 'positive':score_p, 'negative':score_n}
  df = pd.DataFrame(df)
  words_p.append(df.sort_values(by=['positive'],ascending=False)[0:100]['words'])
  words_n.append(df.sort_values(by=['negative'],ascending=False)[0:100]["words"])
tfidf = {"business_id":business,'positive words':words_p,'negative words':words_n}

In [0]:
tfidf = pd.DataFrame(tfidf)
tfidf.to_csv("tfidf.csv")

In [0]:
word_list = ['taco','burrito','salsa','chips','burrito','rice','guacamole','asada','chipotle','tortilla','salad','nacho','enchilada','meat',\
             'chicken','fish','shrimp','beef','pork','steak','service','time','wait','minute','staff','waitress','waiter','atmosphere',\
             'price','internet','wifi','noisy','noise','breakfast','lunch','dinner','line','drink','margarita','table','fries','manager','beer',\
             'patio','bacon','vegan','quesadilla','fajita','chile','enchilada']

In [0]:
pos_words = []
neg_words = []
for i in range(tfidf.shape[0]):
  pos = tfidf["positive words"][i]
  neg = tfidf["negative words"][i]
  pos = pos[pos.isin(word_list)]
  neg = neg[neg.isin(word_list)]
  pos = ','.join(list(set(pos)-set(neg)))
  neg = ','.join(list(set(neg)-set(pos)))
  pos_words.append(pos)
  neg_words.append(neg)
tfidf_words = {'business_id':tfidf['business_id'],'positive words':pos_words, 'negative words':neg_words}
tfidf_words = pd.DataFrame(tfidf_words)
tfidf_words.to_csv("tfidf_words.csv")
#[pos1.isin(word_list)]